/* Header */
header {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
}

/* Sections */
section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Section Headings */
h2 {
    color: #007bff; /* Blue heading color */
}

/* Footer */
footer {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
    text-align: center;
}

/* shreyash's css added */
.img-container {
    width: 400px;
    background-color: green;
    display: flex;
}

img {
    width: 400px;
    object-fit: cover;
}


.card {
    height: 18rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.page-header {
    margin-bottom: 1rem;
}