{% extends "layout.html" %}

{% block body %}
<!-- About Us Section -->
<section id="about" class="about">
    <div class="container">
        <h2>About Us</h2>
        <div class="about-content">
            <div class="about-description">
                <h3>Our Story</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero nec augue dictum, sed tempus risus eleifend. Donec quis mauris quis nisi porta bibendum nec nec velit.</p>
                <p>Integer vel est nec justo efficitur fringilla. Ut at congue arcu, nec venenatis mi. Nam malesuada risus ac luctus consectetur.</p>
            </div>
            <div class="mission-vision">
                <h3>Our Mission & Vision</h3>
                <p><strong>Mission:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero nec augue dictum, sed tempus risus eleifend.</p>
                <p><strong>Vision:</strong> Phasellus nec nulla id felis feugiat elementum. Ut eget odio sed felis placerat ullamcorper. Integer id sem at purus vestibulum dignissim sit amet id eros.</p>
            </div>
            <div class="values-goals">
                <h3>Our Values & Goals</h3>
                <ul>
                    <li>Value 1: Lorem ipsum dolor sit amet</li>
                    <li>Value 2: Consectetur adipiscing elit</li>
                    <li>Value 3: Nulla convallis libero nec augue</li>
                </ul>
                <ul>
                    <li>Goal 1: Phasellus nec nulla id felis feugiat elementum</li>
                    <li>Goal 2: Ut eget odio sed felis placerat ullamcorper</li>
                    <li>Goal 3: Integer id sem at purus vestibulum dignissim sit amet id eros</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
