{% extends "layout.html" %}

{% block body %}
<!-- Upcoming Events Section -->
<div class="container">
    <div class="page-header">
        <h2>Past Events</h2>
    </div>
    <!-- events -->
    {%  for event in events %}
    <div class="card" style="width: 80rem;">
        <div class="img-container">
            <img src="https://static.independent.co.uk/2024/05/03/23/AP24124779436042.jpg?quality=75&width=640&crop=3%3A2%2Csmart&auto=webp" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{event.title}}</h5>
          <p class="card-text">{{event.text}}</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock %}
